/* .arrow-left {
    width: 50px;
    cursor: pointer;
}

.arrow-right {
    width: 50px;
    cursor: pointer;

}

.options-value {
    font-size: 32px;
} */

/* .spinner-select-box {
    display: flex;
    gap: 20px;
    align-items: center;

}

.arrow-left {
    font-size: 34px;
    cursor: pointer;
}

.arrow-right {
    font-size: 34px;
    cursor: pointer;
}

.selected-value {
    font-size: 50px;
} */